[submodule "backend"]
	path = backend
	url = https://github.com/univalle-software-development/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/univalle-software-development/frontend.git
